{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single",
            {"allowTemplateLiterals": true}
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console":"off",
        "no-useless-concat":"warn"
    },
    "env": {
        "mocha": false,
        "node": true,
        "browser": false
    },
    "extends": "eslint:recommended"
}
